.next
node_modules
public
.next
*.md
*.mdx
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.eot
*.ttf
*.woff
*.woff2
*.yaml
*.toml
*.json
*.lock
*.min.*
*.snap
.DS_Store
.env*.local
.env.local
.env
!.eslintrc.json
!.prettierrc
!.babelrc
!.commitlintrc.json
